@using dbQLBDS.Models;

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Dashboard.js")" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>
<body>
    <div id="container">
        
        @{
            TaiKhoan tk = new TaiKhoan();
            if (Session["taikhoan"] != null)
            {
                tk = (TaiKhoan)Session["taikhoan"];
            }
        }

        <div id="nav">
            
            <a href="" class="logo"><img src="@Url.Content("~/Content/images/icon200.png")" width="160" height="160"/></a>

            <ul>
                <li>
                    <a href="" >QUẢN LÝ CĂN HỘ</a>
                </li>
                <li>
                    <a href="" >QUẢN LÝ THUÊ CĂN HỘ</a>
                </li>
                <li>
                    <a href="" >QUẢN LÝ GIAO DỊCH</a>
                </li>


                @if (tk.MaLoaiTaiKhoan == LoaiTaiKhoan.Admin)
                {
                    <li>
                        <a href="" >QUẢN LÝ TÀI KHOẢN</a>
                    </li>
                }
                
                <li>
                    <a href="/DangXuat" >ĐĂNG XUẤT</a>
                </li>
            </ul>



        </div>
        <div id="dashboard-content">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
