@{
    ViewBag.Title = "Tìm kiếm căn hộ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index-content">
    <div class="cover-image">
        <img src="@Url.Content("~/Content/images/wall1.jpg")" />
    </div>
    <h2 class="index-title">
        Tìm kiếm
    </h2>

    <!--tim kiem-->
    <div class="main-content">
        <div class="editor-item">
            <div class="editor-label">
                Tên căn hộ:
            </div>
            <div class="editor-input">
                <input type="text" name="txtTenCanHo" id="txtTenCanHo" />
            </div>
        </div>

        <div class="editor-item">
            <div class="editor-label">
                Diện tích:
            </div>
            <div class="editor-input">
                <select name="cmbDienTich" id="cmbDienTich">
                    <option value="0">Tất cả</option>
                    <option value="1">< 30 m2</option>
                    <option value="2">30 m2 - 50 m2</option>
                    <option value="3">50 m2 - 80 m2</option>
                    <option value="3">80 m2 - 100 m2</option>
                    <option value="4">> 100 m2</option>
                </select>
            </div>
        </div>

        <div class="editor-item">
            <div class="editor-label">
                Giá:
            </div>
            <div class="editor-input">
                <select name="cmbGia" id="cmbGia">
                    <option value="0">Tất cả</option>
                    <option value="1">< 1,000,000 VNĐ</option>
                    <option value="2">1,000,000 - 3,000,000 VNĐ</option>
                    <option value="3">3,000,000 - 5,000,000 VNĐ</option>
                    <option value="3">5,000,000 - 10,000,000 VNĐ</option>
                    <option value="4">> 10,000,000 VNĐ</option>
                </select>
            </div>
        </div>
        
        <div class="editor-item">
            <div class="editor-label">
                Địa chỉ:
            </div>
            <div class="editor-input">
                <select name="cmbThanhPho" id="cmbThanhPho">
                    <option value="0">Tất cả</option>
                </select>
            </div>
            <div class="editor-label">
                &nbsp;
            </div>
            <div class="editor-input">
                <select name="cmbQuan" id="cmbQuan">
                    <option value="0">Tất cả</option>
                </select>
            </div>
            <div class="editor-label">
                &nbsp;
            </div>
            <div class="editor-input">
                <select name="cmbDuong" id="cmbDuong">
                    <option value="0">Tất cả</option>
                </select>
            </div>
        </div>
        
        <div class="editor-item">
            <div class="editor-label">
                &nbsp;
            </div>
            <div class="editor-input">
                <input type="submit" class="submit" id="btnTimKiem" value="Tìm kiếm"/>
            </div>
        </div>
    </div><!--#tim kiem-->

    <!--ket qua tim kiem-->
    <div class="list-new-prop">
        <h2>Tìm thấy 21 kết quả</h2>
        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/1.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/2.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/3.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/4.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="">Chi tiết</a>
            </div>
        </div>


        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/5.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/6.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/7.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/8.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="">Chi tiết</a>
            </div>
        </div>
    </div><!--#ket qua tim kiem-->

</div>