@model dbQLBDS.Models.TaiKhoan
@{
    ViewBag.Title = "ChinhSuaTaiKhoan";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>ChinhSuaTaiKhoan</h2>

@using(Html.BeginForm()) {
<div class="editor-field">
    @Html.HiddenFor(model => model.MaTaiKhoan)
    <h3 class="editor-field-title">THÔNG TIN CHUNG</h3>
    
    <div class="editor-item">
        <div class="editor-label">
            Email: 
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.Email, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Tên người dùng: 
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.Ten, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Ngày sinh: 
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.NgaySinh, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Địa chỉ: 
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.DiaChi, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Điện thoại: 
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.DienThoai, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Ngày đăng ký: 
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.NgayDangKy)
        </div>
    </div>

    <h3 class="editor-field-title">TRẠNG THÁI</h3>

    <div class="editor-item">
        <div class="editor-label">
            Trạng thái tài khoản: 
        </div>
        <div class="editor-input">
            <select name="TrangThaiTaiKhoan" id="TrangThaiTaiKhoan" >
                @*<option value = "1" @if (Model.TrangThai == 1) { @Html.Raw("selected"); }>Đang hoạt động</option>
                <option value = "0" @if (Model.TrangThai == 0) { @Html.Raw("selected"); })>Đang bị khóa</option>*@
            </select>
        </div>
    </div>
    
    <br />
    <input type="submit" name="btnSave" value="Lưu thay đổi" />
        
</div>
}

