@using dbQLBDS.Models;
@model List<TaiKhoan>
    
@{
    ViewBag.Title = "Quản lý Tài Khoản";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

@{
    int count = ViewBag.Count;
    int rowperpage = ViewBag.RowPerPage;
    int page = ViewBag.Page;
}
<h2 class="dashboard-title">QUẢN LÝ TÀI KHOẢN</h2>

<div class="editor-field">
    <h3 class="editor-field-title">KẾT QUẢ (SỐ LƯỢNG: @count)</h3>
    <div class="list-content">

        <table cellspacing="0" cellpadding="0">
            <tr>
                <th width="5%">
                    Mã
                </th>
                <th width="20%">
                    Email
                </th>
                <th width="23%">
                    Tên
                </th>
                <th width="20%">
                    Ngày Sinh 
                </th>
                <th width="20%">
                    Ngày Đăng Ký
                </th>
                <th width="10%">
                    Trạng Thái
                </th>
                <th width="10%">
                    &nbsp;
                </th>
            </tr>

            @foreach (TaiKhoan tk in Model)
            {
            <tr>
                <td>
                    @tk.MaTaiKhoan
                </td>
                <td>
                    @tk.Email
                </td>
                <td>
                    @tk.Ten
                </td>
                <td>
                    @tk.NgaySinh.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @tk.NgayDangKy.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @tk.TrangThai
                </td>
                <td>
                    <a href="@Url.Action("ChinhSuaTaiKhoan", "TaiKhoan", new { id = tk.MaTaiKhoan })" class="list-edit-button" ><img src="@Url.Content("~/Content/images/edit.png")" /></a>
                    
                </td>
            </tr>
            }
        </table>

        <div class="list-paging">
            @{
                double num = Math.Ceiling(count * 1.0 / rowperpage);
            }
            <ul>
                @for (int i = 1; i <= num; i++)
                {
                    if (i == page)
                    { 
                        <li>
                            <a href = "@Url.Action("Index", "TaiKhoan", new { @page = i })" class = "cur">@i</a>
                        </li>
                    }
                    else
                    { 
                        <li>
                            <a href="@Url.Action("Index","TaiKhoan", new { @page = i })" >@i</a>
                        </li>
                    }
                  }
            </ul>
        </div>

        
        <a href="@Url.Action("TaoCanHo", "CanHo")" class="create-button" >Tạo tài khoản mới</a>
        <br />
    </div>
    
</div>
