@model dbQLBDS.Models.TaiKhoan
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index-content">
    <div class="cover-image">
        <img src="@Url.Content("~/Content/images/wall1.jpg")" />
    </div>
    <h2 class="index-title">Đăng ký
    </h2>
    
    
    <div class="main-content">
        @using (Html.BeginForm()) {
            
            <div class="editor-item">
                <div class="editor-label">
                    Email:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    @Html.EditorFor(model => model.Email, new { @required = ""})
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Mật khẩu:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    @Html.PasswordFor(model => model.MatKhau)
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Xác nhận mật khẩu:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    @Html.PasswordFor(model => model.XacNhanMatKhau)
                    @Html.ValidationMessageFor(model => model.XacNhanMatKhau)
                </div>
            </div>
            
            <div class="editor-item">
                <div class="editor-label">
                    Họ và Tên:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    @Html.EditorFor(model => model.Ten)
                    @Html.ValidationMessageFor(model => model.Ten)
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Ngày sinh: 
                </div>
                <div class="editor-input">
                    @Html.EditorFor(model => model.NgaySinh, new {@class = "datepicker"})
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Địa chỉ: 
                </div>
                <div class="editor-input">
                    @Html.TextAreaFor(model => model.DiaChi)
                </div>
            </div>
            
            <div class="editor-item">
                <div class="editor-label">
                    Điện thoại: 
                </div>
                <div class="editor-input">
                    @Html.EditorFor(model => model.DienThoai)
                </div>
            </div>
            
            
            
            <div class="editor-item">
                <div class="editor-label">
                    &nbsp;
                </div>
                <div class="editor-input">
                    <input type="submit" class="submit" id="btnDangKy" value="Đăng ký"/>
                </div>
            </div>
        }
    </div>
</div>
