<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Index.css")" type="text/css" rel="stylesheet"/>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/Index.js")" type="text/javascript" ></script>
</head>
<body>
    <div id="index-container">
        <div class="header">
            <a href="@Url.Action("Index", "Index")" class="logo">
                <img src="@Url.Content("~/Content/images/icon100.png")" />
            </a>

            <ul class="menu">
                <li>
                    <a href="" >Trang chủ</a>
                </li>
                <li>
                    <a href="" >Giới thiệu</a>
                </li>
                <li>
                    <a href="" >Tìm kiếm</a>
                </li>
                <li>
                    <a class="btnDangNhap" data-islogin="false">Đăng nhập
                        
                    
                    <div class="login-container">
                        <form class="login-form" id="login-form" method="post" action="">
                            <div class="login-content-item">
                                <div class="item-label">Tên đăng nhập: </div>
                                <div class="item-editor">
                                    <input type="text" class="txtLogin" id="txtUsername" name="txtUsername" />
                                </div>
                            </div>
                            <div class="login-content-item">
                                <div class="item-label">Mật khẩu: </div>
                                <div class="item-editor">
                                    <input type="password" class="txtLogin" id="txtPassword" name="txtPassword" />
                                </div>
                            </div>
                            <div class="login-content-item">
                                <div class="item-label">&nbsp; </div>
                                <div class="item-editor">
                                    <input type="submit" class="btnLogin" id="btnLogin" name="btnLogin" />
                                </div>
                            </div>
                        </form>
                    </div>
                    </a>
                    <div class="user-info">
                        <p>Chào, User Akjdsadfjk</p>
                    </div>

                </li>
            </ul>

        </div>

        <div id="main-content">
            @RenderBody()
        </div>


        <div class="footer">

        </div>

    </div>

    
</body>
</html>
