@model dbQLBDS.Models.CanHo

@{
    ViewBag.Title = "TaoCanHo";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2 class="dashboard-title">Tạo căn hộ</h2>

@using(Html.BeginForm()) {
<div class="editor-field">
    @Html.HiddenFor(model => model.MaCanHo)
    <h3 class="editor-field-title">THÔNG TIN CHUNG</h3>
    
    <div class="editor-item">
        <div class="editor-label">
            Tên căn hộ: <span class="required-field">*</span>
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.TenCanHo, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Miêu tả: 
        </div>
        <div class="editor-input">
            @Html.TextAreaFor(model => model.MieuTa, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Giá thuê: <span class="required-field">*</span>
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.GiaThue, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            Diện tích: <span class="required-field">*</span>
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.DienTich, new { @class = "input-txt" })
        </div>
    </div>

    <h3 class="editor-field-title">VỊ TRÍ ĐỊA LÝ</h3>
    
    <div class="editor-item">
        <div class="editor-label">
            Địa chỉ: <span class="required-field">*</span>
        </div>
        <div class="editor-input">
            @Html.EditorFor(model => model.DiaChi, new { @class = "input-txt" })
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            &nbsp;
        </div>
        <div class="editor-input">
            
            @Html.DropDownList("MaThanhPho", string.Empty)
            
        </div>
    </div>


    <div class="editor-item">
        <div class="editor-label">
            &nbsp;
        </div>
        <div class="editor-input">

            @Html.DropDownList("MaQuan", string.Empty)
           
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            &nbsp;
        </div>
        <div class="editor-input">
            
            @Html.DropDownList("MaDuong", string.Empty)

        </div>
    </div>
    
    <div class="editor-item">
        <div class="editor-label">
            Tọa độ: <span class="required-field">*</span>
        </div>
        <div class="editor-input">
            
            @Html.EditorFor(model => model.ToaDo, new { @class = "input-txt" })
            
        </div>
    </div>

    <div class="editor-item">
        <div class="editor-label">
            
        </div>
        <div class="editor-input">
            <div class="map-api" id="map-canvas">

            </div>
        </div>
    </div>

    <h3 class="editor-field-title">TRẠNG THÁI</h3>

    <div class="editor-item">
        <div class="editor-label">
            Trạng thái: 
        </div>
        <div class="editor-input">
            <select name="MaTrangThaiCanHo" id="MaTrangThaiCanHo" >
                <option value ="1" selected>Đã được thuê</option>
                <option value ="2" >Chưa được thuê</option>
                <option value ="3" >Đang xây dựng</option>
            </select>
        </div>
    </div>
    
    <br />
    <input type="submit" name="btnSave" value="Đăng tin" />
        
</div>
}
