@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index-content">
    <div class="cover-image">
        <img src="@Url.Content("~/Content/images/wall1.jpg")" />
    </div>
    <h2 class="index-title">
        Danh sách các căn hộ mới
    </h2>

    <div class="list-new-prop">
        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/1.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/2.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/3.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/4.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="">Chi tiết</a>
            </div>
        </div>


        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/5.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/6.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/7.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="" >Chi tiết</a>
            </div>
        </div>

        <div class="prop-item">
            <div class="prop-img">
                <img src="@Url.Content("~/Content/images/home/8.jpg")" />
            </div>
            <div class="prop-add">
                32/45 Thái Văn Lung, Phường Bến Nghé, Quận 1, TP.HCM
            </div>
            <div class="prop-price">
                15.000.000.000 <sup class="vnd">VNĐ</sup>
            </div>
            <div class="prop-detail">
                <a href="">Chi tiết</a>
            </div>
        </div>


    </div>


</div>